*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    height: 100vh;
    width: 100%;
    background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Perfect-Sunset-Nature-Background-Image.jpeg);
    background-size: cover;
    background-position: center;

}


.card{
    width: 600px;
    height: 500px;
    padding: 20px;
    font-size: 40px;
    font-family: vardana;
    background: #529fa1ce;
    color: black;
    position: absolute;
    top: 25%;
    left: 5%;
    display: flex;
    align-items: center;
    

    
}
.inputs p {
    text-align: center;
}
#btn {
    padding: 7px;
    font-size:20px;
    width: 200px;
    margin-left: 160px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: aqua;
    margin-top: 40px;

}
label{
    margin-left: 10px;
    font-size: 30px;
}
.inputs input{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 20px;
    margin-left: 17px;
    font-family:  sans-serif;
    margin-top: 40px;
    
}
.chuchu p {
    margin-top: 35px;
}
.chuchu label{
    margin-top: 20px;
}
.lufluf {
    width: 450px;
    position: absolute;
    left: 60%;
    top: 35%;
}
.lufluf p {
    font-size: 35px;
    font-family: "poppins" , sans-serif;
    text-align: justify;
    color: red;
}
.lufluf h3 {
    padding-bottom: 15px;
    font-size: 30px;
    letter-spacing: 2px;

}
 


