*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    height: 100vh;
    width: 100%;
    background-image: url(https://media.istockphoto.com/photos/black-dark-background-picture-id155793519?k=20&m=155793519&s=170667a&w=0&h=OoEjpqYs1lbsQ7NglJ2VcghYxpu2-3bGFGRp3wneMoY=);
    background-size: cover;
    background-position: center;

}


.card{
    width: 600px;
    height: 500px;
    padding: 20px;
    font-size: 40px;
    font-family: vardana;
    background: #529fa1ce;
    color: black;
    position: absolute;
    top: 25%;
    left: 5%;
    display: flex;
    align-items: center;
    

    
}
.inputs p {
    text-align: center;
}
#btn {
    padding: 7px;
    font-size:20px;
    width: 200px;
    margin-left: 160px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: aqua;
    margin-top: 40px;

}
label{
    margin-left: 10px;
    font-size: 30px;
}
.inputs input{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 20px;
    margin-left: 17px;
    font-family:  sans-serif;
    margin-top: 40px;
    
}
.chuchu p {
    margin-top: 35px;
}
.chuchu label{
    margin-top: 20px;
}
.lufluf {
    width: 450px;
    position: absolute;
    left: 54%;
    top: 20%;
}
.lufluf p {
    font-size: 23px;
    font-family: "poppins" , sans-serif;
    text-align: justify;
    color: rgb(206, 156, 21);
}
.lufluf h3 {
    padding-bottom: 15px;
    font-size: 30px;
    letter-spacing: 2px;
    color: wheat;

}
#result{
    font-size: 40px;
    color: rgb(114, 228, 8);
    margin-left: 10px;
    text-align: center;
    margin-top: 20px;


}
.social-media {
    position: absolute;
    top: 90%;
    left: 18%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.social-media p{
    font-size: 25px;
    color: white;
    margin-right: 40px;

}
.social-media .social a{
    display: inline-block;
    margin-right: 15px;
    color: aqua;
    transition: transform .3s;
}
.social-media .social a:hover{
    transform: scale(2.0);
}
.box{
    width: 500px;
    height: 150px;
    background-color: grey;
    position: absolute;
    top: 63%;
    right: 20%;
    border-radius: 15px;
}
.box p{
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}






 

